@mixin box-shadow-mod {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

html {
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
}
.header {
  background-image: linear-gradient(
      to right bottom,
      rgba(94, 64, 64, 0.432),
      rgba(73, 64, 64, 0.295)
    ),
    url(../media/action-blur-buildings-302718.jpg);
  height: 50rem;
  background-size: cover;
  background-position: top;
  position: relative;
  .header__call {
    color: #fff;
    font-size: 1.3rem;
    width: 100%;
    display: inline-block;
    text-align: right;
    background-color: #ffffff07;
    display: inline-block;
    padding: 1px 0;
  }
}
nav {
  background-color: #1f09099c;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  position: relative;
}
.bname {
  color: #fff !important;
  padding-right: 2%;
  font-size: 2rem;
  line-height: 2rem;
}
.bimg {
  padding-left: 1.1%;
}
.nav--right {
  color: #fff;
  background-color: transparent;
  padding: 20px 0;
  margin-left: 3rem;
  border: 0;
  font-size: 1.3rem;
  &:hover {
    background-color: #1f0909c7;
    cursor: pointer;
  }
}
.nav--sign {
  padding-left: 22px;
  .nav--signComp {
    color: #fff;
    background-color: transparent;
    font-size: 1.2rem;
    padding: 7px 12px;
    border: 1px solid white;
    &:hover {
      background-color: #1f0909c7;
      cursor: pointer;
    }
  }
}

.navbar-toggler-icon {
  color: #fff;
}
.bikes,
.bikes:link,
.bikes:active {
  color: #fff;
  font-size: 1.2rem;
  .a {
    color: #fff;
  }
  &:hover {
    color: #fff;
  }
}

.banner {
  background-image: url(../media/accessories_banner-86595775b70cf5c22dd6e6c398b1929e0fb6a3c4eea7556697ba03695a8a80ab.jpg);
  height: 21rem;
  background-size: 100% 100%;
  position: relative;
  .banner__textbox {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    .banner__btn {
      background-color: #fdd835;
      border: 0;
      border-radius: 5%;
      font-size: 1.2rem;
      text-transform: uppercase;
      padding: 0.8rem 1.5rem;
      margin-top: 3%;
      @include box-shadow-mod;
      cursor: pointer;
    }
  }
}
.banner__riding {
  font-weight: 400;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.banner__rent {
  color: #8d8d8de5 !important;
  font-size: 1.4rem;
}

.stats {
  background-color: #f3f3f3;
  padding: 5rem 8rem;
  .stats--class {
    @include box-shadow-mod;
    border-radius: 3%;
    display: inline-block;
    width: 16rem;
    height: 7rem;
    margin: 2rem 2rem;
    padding: 2rem 8rem 2rem 4rem;
    background-color: #e2d8d8;
    .stats--subheading {
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 600;
    }
    .stats--classheading {
      font-weight: 700;
      font-size: 3rem;
      text-transform: uppercase;
      .fas,
      .fa-star {
        font-size: 1.4rem;
      }
    }
  }
}

.speciality {
  margin: 2% 8%;
  .speciality--main {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }
  background-color: #fff;
  .speciality--maincont {
    display: inline-block;
    width: 28rem;
    height: 15rem;
    margin: 2rem 1.5rem;
    position: relative;
    color: #ebd3d3;
    font-size: 1.2rem;
  }
  .speciality--subcont {
    color: black;
    div {
      display: inline-block;
    }
    .speciality--subcontdvi1 {
      color: #fdd835;
      font-size: 3.8rem;
      font-weight: 800;
    }
    .speciality--subcontdvi2 {
      font-size: 1.4 rem;
      font-weight: 700;
    }
  }
}
.ourfleet {
  background-color: #f3f3f3;
  height: 60%;
  width: 100%;
  .ourfleet-main {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    padding: 2% 0;
  }
  .ourfleet--maincont {
    display: block;
    position: relative;
    background-color: #fff;
    width: 80%;
    margin: 2rem 10%;
    @include box-shadow-mod;
  }
  .ourfleet--subcont {
    display: inline-block;
    padding: 0 2%;
    border-bottom: 5px solid #ccb6b6;
  }
  .ourfleet--subcont1 {
    a {
      color: #ccb6b6;
      font-weight: 700;
    }
    display: inline-block;
    text-align: center;
    background-color: white;
    text-align: center;
    padding: 7rem 15rem 7rem 4rem;
    border-bottom: 5px solid #ccb6b6;
  }
  .ourfleet--mentions {
    padding-left: 16%;
    .ourfleet--mentionsubs {
      display: inline-block;
      .ourfleetmentionimg {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.footer {
  background-color: #363636;
  padding-left: 11%;
  .footimg {
    padding-right: 2%;
  }
  .footerheading {
    .footerroyal {
      color: #fdd835;
    }
    color: white;
    h1 {
      font-size: 6rem;
      font-weight: 800;
    }
  }
  .footerblock {
    display: inline-table;
    padding-top: 2%;
  }
  .footersub {
    display: inline-table;
    padding-left: 8%;
    padding-bottom: 3%;
    color: white;
    font-size: 3rem;
    line-height: 2rem;
    h2 {
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: 700;
    }
    ul {
      li {
        list-style: none;
        a {
          color: white;
          font-size: 1.3rem;
        }
      }
    }
  }
  .copyright {
    color: white;
    display: block;
    padding-left: 20%;
    padding-right: 10%;
  }
}

.form {
  margin: 17% 10% 10% 10%;
  position: absolute;
  top: 10%;
  left: 2%;

  background-color: #1f09099c;
  background-size: cover;
  padding-bottom: 2rem;
  form {
    padding-left: 2rem;
    input {
      border-top: transparent;
      border-right: transparent;
      border-left: transparent;
      background-color: transparent;
      margin-right: 2rem;
      padding-right: 3.5rem;
      padding-top: 0.8rem;
      font-size: 1.5rem;
      padding-bottom: 0.8rem;
      border-bottom: 0.5px #fff solid;
      &::placeholder {
        color: #fff;
      }
    }
  }
  a,
  a:link,
  a:active {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 2rem 0 2rem 3rem;
  }
  .form--intercity,
  .form--intercity:active,
  .form--intercity:link {
    color: rgb(209, 161, 161);
  }
  .form--search,
  .form--search:active,
  .form--search:link {
    border-bottom: 10px solid yellow;
  }
  button {
    border: none;
    border-radius: 5%;
    font-size: 1.8rem;
    text-transform: uppercase;
    background-color: #fdd835;
    padding: 0.5rem 2.2rem;
    margin: 10px 40px 10px 10px;
  }
}
