@mixin clearfix {
  &::after {
    content: '';
    clear: both;
    display: table;
  }
}

html {
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 1.6rem;
}
.header {
  background-image: linear-gradient(
      to right bottom,
      rgba(94, 64, 64, 0.432),
      rgba(73, 64, 64, 0.295)
    ),
    url(../media/action-bike-biker-416978.jpg);
  height: 50rem;
  background-size: cover;
  background-position: top;
  position: relative;
  .header__call {
    color: #fff;
    width: 100%;
    text-align: right;
    background-color: #ffffff11;
    display: inline-block;
  }
}
nav {
  background-color: #1f09099c;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  @include clearfix;
  position: relative;
}

.nav--left {
  float: left;
  .nav--img {
    img {
      width: 4.2rem;
      height: 4.2rem;
      padding-left: 2.5rem;
      padding-right: 0;
    }
  }
}

.nav--brand:link,
.nav--brand:visited {
  padding: 1rem 1rem 1rem 0.4rem;
  font-size: 2.1rem;
  display: inline-block;
  text-decoration: none;
  color: #fff !important;
}
.nav-bikes {
  padding: 1rem;
  font-size: 1.8rem;
  display: inline-block;
  text-decoration: none;
  color: #fff !important;
}

.nav--right {
  list-style: none;
  float: right;
  li {
    display: inline;
    margin-right: 30px;
    &:last-child {
      margin: 0;
    }
  }
  a:link,
  a:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
  }
}

.banner {
  background-image: url(../media/accessories_banner-86595775b70cf5c22dd6e6c398b1929e0fb6a3c4eea7556697ba03695a8a80ab.jpg);
  height: 21rem;
  background-size: 100% 100%;
  position: relative;
  .banner__textbox {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
  }
}

.stats {
  background-color: rgb(243, 234, 234);
  width: 100%;
  padding: 5rem 10rem;
  .stats--class {
    display: inline-block;
    width: 15rem;
    height: 10rem;
    margin: 2rem 3rem;
    padding: 2rem 6rem;
    background-color: yellow;
  }
}

.speciality {
  background-color: #fff;
  width: 100%;
  .speciality--maincont {
    display: inline-block;
    width: 25rem;
    height: 15rem;
    margin: 2rem 3rem;
    background-color: yellow;
  }
  .speciality--subcont {
    div {
      display: inline-block;
    }
  }
}
.ourfleet {
  background-color: rgb(243, 234, 234);
  height: 60%;
  width: 100%;
  .ourfleet--maincont {
    display: block;
    position: relative;
    background-color: #fff;
    width: 80%;
    margin: 2rem 10%;
  }
  .ourfleet--subcont {
    display: inline-block;
    margin: 0 2%;
  }
}

.footer {
  background-color: brown;
}

.form {
  margin: 17% 10% 10% 10%;
  background-color: #1f09099c;
  background-size: cover;
  padding-bottom: 2rem;
  form {
    padding-left: 2rem;
    input {
      border-top: transparent;
      border-right: transparent;
      border-left: transparent;
      background-color: transparent;
      margin-right: 2rem;
      padding-right: 3.5rem;
      padding-top: 0.8rem;
      font-size: 1.5rem;
      padding-bottom: 0.8rem;
      border-bottom: 0.5px #fff solid;
      &::placeholder {
        color: #fff;
      }
    }
  }
  a,
  a:link,
  a:active {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 2rem 0 2rem 3rem;
  }
  .form--intercity,
  .form--intercity:active,
  .form--intercity:link {
    color: rgb(209, 161, 161);
  }
  .form--search,
  .form--search:active,
  .form--search:link {
    border-bottom: 10px solid yellow;
  }
  button {
    border: none;
    border-radius: 10%;
    font-size: 2rem;
    background-color: antiquewhite;
    padding: 1rem 3rem;
    margin: 10px auto;
  }
}
